.about-us {
    padding-top: 60px;
}

.about-us-list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.about-us-title {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}



