.header-container {
    display: flex;
    width: 100vw;
}

.header-logo {
    margin-right: 100px;
    padding-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Pacifico';
    font-weight: 500;
}

.header-list {
    padding-left: 50px;
}

.header-form {
    padding-right: 30px;
    margin-left: auto;
}