.our-history {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: antiquewhite;
}

.our-history-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.our-history-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.our-history-box2 {
    padding-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.our-history-box3 {
    padding-left: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.our-history-text {
    padding-left: 50px;
    padding-right: 50px;
    width: 600px;
    font-size: 20px;
}

.our-history-text2 {
    margin-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 600px;
    font-size: 20px;
}

.our-history-text3 {
    margin-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 600px;
    font-size: 20px;
}

.our-history-image {
    width: 400px;
    height: 400px;
}

.our-history-image2 {
    width: 300px;
    height: 300px;
}

